<div class="landing" [class.landing-light]="currentValue === value1" [class.landing-dark]="currentValue === value2">
  <div class="landing-intro">
    <section class="landing-header" [ngClass]="{'landing-header-active': isHeaderActive, 'landing-header-sticky': isHeaderSticky}">
      <div class="landing-header-container px-5 lg:px-8">
        <span>
          <a href="/">
            <img width="129" height="35" alt="PrimeNG" priority="" class="landing-header-logo" [src]="currentValue === value1 ? 'https://primefaces.org/cdn/primeng/images/primeng-logo-dark.svg' : 'https://primefaces.org/cdn/primeng/images/primeng-logo-light.svg'">
          </a>
        </span>
        <div class="flex align-items-center">
          <nav class="scalein origin-top">
            <ol class="list-none m-0 p-0 flex flex-column lg:flex-row flex-wrap lg:flex-nowrap lg:align-items-center font-semibold">
              <li class="mr-0 lg:mr-2"><a href="/primeng-v16-lts/installation"><img src="https://primefaces.org/cdn/primeng/images/landing/core-icon.svg" width="32" height="30" alt="Primeng core"><span>Components</span></a></li>
              <li class="mr-0 lg:mr-2"><a href="https://blocks.primeng.org" target="_blank"><img src="https://primefaces.org/cdn/primeng/images/landing/blocks-icon.svg" width="32" height="30" alt="Primeng blocks"><span>Blocks</span></a></li>
              <li class="mr-0 lg:mr-2"><a href="https://designer.primeng.org" target="_blank"><img src="https://primefaces.org/cdn/primeng/images/landing/designer-icon.svg" width="32" height="30" alt="Primeng designer"><span>Designer</span></a></li>
              <li class="mr-0 lg:mr-2"><a href="/uikit"><img src="https://primefaces.org/cdn/primeng/images/landing/uikit-icon.svg" alt="primevue designer" width="30"><span>UI Kit</span></a></li>
              <li class="mr-0 lg:mr-2"><a href="https://www.primefaces.org/store/templates.xhtml" target="_blank"><img src="https://primefaces.org/cdn/primeng/images/landing/templates-icon.svg" width="34" height="30" alt="Primeng templates"><span>Templates</span></a></li>
            </ol>
          </nav>
          <a href="https://github.com/primefaces/primeng" target="_blank" rel="noopener noreferrer" class="linkbox p-0 header-button mr-1 md:mr-2 flex align-items-center justify-content-center flex-shrink-0">
            <i class="pi pi-github"></i>
          </a>
          <a href="https://discord.gg/gzKFYnpmCY" target="_blank" rel="noopener noreferrer" class="linkbox p-0 header-button mr-1 md:mr-2 flex align-items-center justify-content-center flex-shrink-0">
            <i class="pi pi-discord"></i>
          </a>
          <a href="https://github.com/orgs/primefaces/discussions" target="_blank" rel="noopener noreferrer" class="linkbox p-0 header-button mr-1 md:mr-2 flex align-items-center justify-content-center flex-shrink-0">
            <i class="pi pi-comments"></i>
          </a>
          <button (click)="changeTheme()" type="button" class="linkbox header-button inline-flex align-items-center justify-content-center">
            <i class="pi pi-moon"></i>
          </button>
          <button class="linkbox header-button inline-flex align-items-center justify-content-center lg:hidden ml-1 md:ml-2 menu-button" (click)="toggleHeaderClass()">
            <i class="pi pi-bars"></i>
          </button>
        </div>
      </div>
    </section>
    <section class="landing-hero flex align-items-center flex-column justify-content-center relative hero-animation">
      <div class="hero-inner z-2 relative">
        <div class="flex flex-column md:align-items-center md:flex-row">
          <div class="p-2 flex flex-row md:flex-column">
            <a href="/" target="_blank">
              <div class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
                <div class="flex flex-column align-items-center">
                  <img src="https://primefaces.org/cdn/primeng/images/landing/templates-icon.svg" width="34" height="30" alt="primeng templates">
                  <div class="name"><b>Templates</b><span>Spectacular Designs</span></div>
                </div>
              </div>
            </a>
            <a href="/" target="_blank">
              <div class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
                <div class="flex flex-column align-items-center">
                  <img src="https://primefaces.org/cdn/primeng/images/landing/designer-icon.svg" width="30" height="30" alt="primeng templates">
                  <div class="name"><b>Theme Designer</b><span>Create Your Own</span></div>
                </div>
              </div>
            </a>
          </div>
          <div class="p-2 flex flex-row md:flex-column"><a href="/" target="_blank">
              <div class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
                <div class="flex flex-column align-items-center">
                  <img src="https://primefaces.org/cdn/primeng/images/landing/core-icon.svg" width="30" height="30" alt="primeng core">
                  <div class="name"><b>Open Source</b><span>90+ UI Components</span></div>
                </div>
              </div>
            </a>
            <a routerLink="/main">
              <div class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation logo hidden md:flex my-4 align-items-center justify-content-center">
                <div class="hero-box-inner text-center"><img src="https://primefaces.org/cdn/primeng/images/landing/overview-icon.svg" width="62" height="71" alt="primeng main">
                  <div class="name flex flex-column"><b class="font-bold mb-1">歡迎光臨</b><b class="font-bold">這是我的學習紀錄</b></div>
                </div>
              </div>
            </a>
            <a href="/" target="_blank">
              <div class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex ml-4 md:ml-0 align-items-center justify-content-center">
                <div class="flex flex-column align-items-center"><img src="https://primefaces.org/cdn/primeng/images/landing/css-icon.svg" width="30" height="30" alt="primeng icons">
                  <div class="name"><b>CSS Utilities</b><span>PrimeFlex CSS</span></div>
                </div>
              </div>
            </a>
          </div>
          <div class="p-2 flex flex-row md:flex-column">
            <a href="/" target="_blank">
              <div class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
                <div class="flex flex-column align-items-center"><img src="https://primefaces.org/cdn/primeng/images/landing/blocks-icon.svg" width="30" height="30" alt="primeng templates">
                  <div class="name"><b>Prime Blocks</b><span>400+ UI Blocks</span></div>
                </div>
              </div>
            </a>
            <a href="/">
              <div class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex ml-4 md:ml-0 md:mt-4 align-items-center justify-content-center">
                <div class="flex flex-column align-items-center"><img src="https://primefaces.org/cdn/primeng/images/landing/icons-icon.svg" width="30" height="30" alt="primeng templates">
                  <div class="name"><b>Icon Library</b><span>200+ Icons</span></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="hero-border-top hidden md:block"></div>
        <div class="hero-border-left hidden md:block"></div>
        <div class="hero-border-right hidden md:block"></div>
      </div>
      <section class="landing-getstarted flex flex-column md:flex-row align-items-center justify-content-center mt-8 z-1">
        <a class="linkbox active font-semibold py-3 px-4" href="/primeng-v16-lts/installation"> Get Started <i class="pi pi-arrow-right ml-3"></i></a>
        <div class="box download-box font-medium w-14rem p-3 px-4 mt-3 md:mt-0 md:ml-3 bg-transparent inline-flex align-items-center cursor-pointer">
          <i class="download-icon mr-3 pi pi-download"></i>
          <span class="font-bold">npm i primeng</span>
        </div>
      </section>
      <div class="hero-bg absolute top-0 left-0 right-0 bottom-0 z-0">
        <div class="hero-strip-top"></div>
        <div class="hero-strip-left"></div>
      </div>
    </section>
  </div>
  <section style="height: 10000px;"></section>
</div>
