.landing-light {
    --home-highlight-color: #1876d1;
    --home-highlight-darker-color: #135ea7;
    --home-highlight-fore-color: #ffffff;
    --home-bg: #EDF5FF;
    --home-intro-bg: #EDF5FF;
    --home-border-color: #C7E0FF;
    --home-primary-text-color: #191919;
    --home-secondary-text-color: #73879E;
    --home-card-shadow: 0px 30px 50px #D4E0EE;
    --home-box-bg: #ffffff;
    --home-linkbox-bg: #ffffff;
    --home-linkbox-border: 1px solid #C7E0FF;
    --home-linkbox-text-color: #191919;
    --home-linkbox-hover-bg: #e3f0ff;
    --home-header-bg: rgba(255, 255, 255, .85);
    --home-menu-link-text-color: #191919;
    --home-menu-link-hover-bg: #e3f0ff;
    --home-herobox-bg: #ffffff;
    --home-herobox-shadow: 0px 50px 100px rgba(212, 224, 238, .25);
    --home-herobox-strip-top-bg: linear-gradient(0deg, #EDF5FF 1.9%, #D9EAFF 50.44%, #EDF5FF 100%);
    --home-herobox-strip-bottom-bg: linear-gradient(90deg, #F2F8FF 0%, #EDF5FF .01%, #D9EAFF 50%, #EDF5FF 100%);
    --home-herobox-logo-shadow: 00px 50px 100px #BACCE2;
    --home-components-strip-bg: linear-gradient(90deg, #EDF5FF .01%, #D9EAFF 100%);
    --home-blocks-bg: linear-gradient(180deg, rgba(237, 245, 255, 0) 0%, #D4E8FE 49.48%, #EDF5FF 100%);
    --home-blocks-block-bg: #FFFFFF8C;
    --home-blocks-block-shadow: -10px 4px 10px 0px #c5d3e782, -10px 4px 25px #a1c0eb91;
    --home-blocks-border-left: 5px solid #D0E5FF;
    --home-blocks-border-bottom: 7px solid #D0E5FF;
    --home-blocks-border: 1px solid #D0E5FF;
    --home-blocks-sidebar-bg: #E4F0FF;
    --home-blocks-list-bg: #ECF5FF;
    --home-blocks-main-bg: none;
    --home-blocks-main-border: 1px solid #D0E5FF;
    --home-blocks-item-bg: #E4F0FF;
    --home-blocks-image-bg: #C1DFFF;
    --home-blocks-text-color: #C1DFFF;
    --home-blocks-active-shadow: 0px 30px 50px 0px #D9EAFF;
    --home-blocks-active-border-top: 1px solid #D7E9FF;
    --home-blocks-active-border-right: 1px solid #D7E9FF;
    --home-blocks-active-border-bottom: 6px solid #D7E9FF;
    --home-blocks-active-border-left: 4px solid #D7E9FF;
    --home-blocks-animation-shadow: 0px 30px 50px 10px #2E7BBC61;
    --home-blocks-tablebar-bg: #C1DFFF;
    --home-blocks-bar-bg: #C1DFFF;
    --home-blocks-bar-button-bg: #ffffff;
    --home-blocks-circle-bg: #C1DFFF;
    --home-templates-bg: linear-gradient(180deg,#edf5ff 0%,#d4e8fe 49.48%,#edf5ff 100%);
    --home-templates-block-shadow: 0px 4.787564754486084px 10px 0px #b9d2f0;
    --home-templates-block-border-left: 5px solid #e9f3ff;
    --home-templates-block-border-bottom: 7px solid #e9f3ff;
    --home-templates-line: linear-gradient(rgba(10, 35, 70, 0),#89b8f1 50%,rgba(10, 35, 70, 0));
    --home-templates-block-hover-bg: rgba(11, 33, 63, .699);
    --home-templates-btn-bg: rgb(11, 33, 63);
    --home-templates-btn-text-color: #ffffff;
    --home-templates-btn-shadow: 0px 10px 15px 0px #00000040;
    --home-templates-btn-border-top: 1px solid rgb(13, 40, 78);
    --home-templates-btn-border-right: 1px solid rgb(13, 40, 78);
    --home-templates-btn-border-bottom: 4px solid rgb(13, 40, 78);
    --home-templates-btn-border-left: 3px solid rgb(13, 40, 78);
    --home-features-card-shadow: 0px 50px 100px rgba(212, 224, 238, .25)
}

.landing-dark {
    --home-highlight-color: #1876d1;
    --home-highlight-darker-color: #135ea7;
    --home-highlight-fore-color: #ffffff;
    --home-bg: #030B17;
    --home-intro-bg: linear-gradient(180deg, #061730 0%, #030B17 100%);
    --home-border-color: #183E71;
    --home-primary-text-color: #ffffff;
    --home-secondary-text-color: #B6C4D6;
    --home-card-shadow: 0px 50px 100px rgba(0, 0, 0, .25);
    --home-box-bg: rgba(11, 33, 63, .55);
    --home-linkbox-bg: rgba(11, 33, 63, .55);
    --home-linkbox-border: 1px solid #183E71;
    --home-linkbox-text-color: #ffffff;
    --home-linkbox-hover-bg: rgba(11, 33, 63, .9);
    --home-header-bg: rgba(11, 33, 63, .65);
    --home-menu-link-text-color: #ffffff;
    --home-menu-link-hover-bg: rgba(11, 33, 63, .9);
    --home-herobox-bg: #0B213F;
    --home-herobox-shadow: 0px 50px 100px rgba(0, 0, 0, .25);
    --home-herobox-strip-top-bg: linear-gradient(360deg, rgba(3, 11, 23, 0) 0%, rgba(11, 37, 73, .913125) 53.83%, rgba(7, 24, 48, 0) 101.32%);
    --home-herobox-strip-bottom-bg: linear-gradient(90deg, rgba(3, 11, 23, 0) 0%, #0C284E 50%, rgba(3, 11, 23, 0) 100%);
    --home-herobox-logo-shadow: 0px 50px 100px 0px #000000;
    --home-components-strip-bg: linear-gradient(90deg, rgba(3, 11, 23, 0) 0%, #071934 100%);
    --home-blocks-bg: linear-gradient(180deg, #040B17 0%, #061B38 58.33%, #030B17 100%);
    --home-blocks-block-bg: #0B213F8C;
    --home-blocks-block-shadow: 0px 4.787564754486084px 10px 0px #0000001A , 0px 4px 25px rgba(0, 0, 0, .288);
    --home-blocks-border-left: 5px solid #0E294D;
    --home-blocks-border-bottom: 7px solid #0E294D;
    --home-blocks-border: 1px solid #183E71;
    --home-blocks-sidebar-bg: #0D264A;
    --home-blocks-list-bg: #0C2242;
    --home-blocks-main-bg: #0B213F8C;
    --home-blocks-main-border: 1px solid #183E71;
    --home-blocks-item-bg: #0D264A;
    --home-blocks-image-bg: #102F5B;
    --home-blocks-text-color: #133667;
    --home-blocks-active-shadow: 0px 30px 50px 0px #00000049;
    --home-blocks-active-border-top: 1px solid #183E71;
    --home-blocks-active-border-right: 1px solid #183E71;
    --home-blocks-active-border-bottom: 6px solid #112d52;
    --home-blocks-active-border-left: 4px solid #183E71;
    --home-blocks-animation-shadow: 0px 30px 50px 20px #00000059;
    --home-blocks-tablebar-bg: #194686;
    --home-blocks-bar-bg: #15386B;
    --home-blocks-bar-button-bg: #0C2E56;
    --home-blocks-circle-bg: #15386B;
    --home-templates-bg: linear-gradient(180deg,#040b17 0%,#061b38 58.33%,#030b17 100%);
    --home-templates-block-shadow: 0px 4.787564754486084px 10px 0px #0000001a;
    --home-templates-block-border-left: 5px solid rgb(13, 35, 65);
    --home-templates-block-border-bottom: 7px solid #09182d;
    --home-templates-line: linear-gradient(rgba(10, 35, 70, 0),#0e3163 50%,rgba(10, 35, 70, 0));
    --home-templates-block-hover-bg: rgba(11, 33, 63, .699);
    --home-templates-btn-bg: rgb(11, 33, 63);
    --home-templates-btn-text-color: #ffffff;
    --home-templates-btn-shadow: 0px 10px 15px 0px #00000040;
    --home-templates-btn-border-top: 1px solid rgb(13, 40, 78);
    --home-templates-btn-border-right: 1px solid rgb(13, 40, 78);
    --home-templates-btn-border-bottom: 4px solid rgb(13, 40, 78);
    --home-templates-btn-border-left: 3px solid rgb(13, 40, 78);
    --home-features-card-shadow: none
}

.landing {
    background: var(--home-bg);
    scroll-behavior: smooth;
    a {
        text-decoration: none;
    }
    .landing-intro {
        background: var(--home-intro-bg);
        min-height: 100vh;
        display: flex;
        padding-top: 5rem;
        flex-direction: column;
        .landing-header {
            background-color: transparent;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            z-index: 100;
            .landing-header-container {
                width: 100%;
                max-width: 1250px !important;
                margin-left: auto !important;
                margin-right: auto !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
                ol a {
                    display: block;
                    padding: 0.5rem 1.5rem;
                    text-align: center;
                    transition: background-color 0.3s;
                    border-radius: 10px;
                    color: var(--home-menu-link-text-color);
                    white-space: nowrap;
                    img {
                        display: none;
                    }
                    &:hover {
                        background: var(--home-menu-link-hover-bg);
                    }
                }
                @media screen and (max-width: 991px) {
                    nav {
                        display: none;
                    }
                    ol a {
                        border: 1px solid var(--home-border-color);
                        background-color: var(--home-herobox-bg);
                        margin-bottom: 1rem;
                        color: var(--home-linkbox-text-color);
                        cursor: pointer;
                        font-size: 1.5rem;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        padding: 1.5rem;
                        img {
                            display: block;
                            margin-right: 1.5rem;
                        }
                    }
                }
                .header-button {
                    width: 2.5rem;
                    height: 2.5rem;
                }
                .linkbox {
                    transition: background-color 0.3s;
                    display: inline-flex;
                    align-items: center;
                    color: var(--home-linkbox-text-color);
                    padding: 0.5rem 1rem;
                    border: var(--home-linkbox-border);
                    background-color: var(--home-linkbox-bg);
                    border-radius: 10px;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover {
                        background: var(--home-linkbox-hover-bg);
                    }
                }
            }
            @media screen and (max-width: 991px) {
                &.landing-header-active {
                    background-color: var(--home-header-bg);
                    -webkit-backdrop-filter: blur(12px);
                    backdrop-filter: blur(12px);
                    height: 100vh;
                    nav {
                        display: block !important;
                        position: fixed;
                        top: 100px !important;
                        width: 100%;
                        padding: 4rem 2rem;
                        top: 5rem;
                        left: 0;
                    }
                }
            }
            &.landing-header-sticky {
                background-color: var(--home-header-bg);
                -webkit-backdrop-filter: blur(12px);
                backdrop-filter: blur(12px);
            }
        }

        .landing-hero {
            flex: 1 1 auto;
            &.hero-animation .hero-inner .hero-box {
                cursor: pointer;
                img {
                    opacity: 1;
                    transform: scale(1);
                }
                .name {
                    opacity: 1;
                }
            }
            .hero-inner .hero-box {
                position: relative;
                z-index: 1;
                img {
                    transform: scale(0);
                    opacity: 0;
                    transition: 0.5s;
                    transition-delay: 1.8s;
                }
                .name {
                    text-align: center;
                    margin-top: 20px;
                    opacity: 0;
                    transition: 1s;
                    transition-delay: 1.8s;
                }
                b {
                    color: var(--home-primary-text-color);
                    display: block;
                    font-weight: 600;
                    font-size: 13px;
                }
                span {
                    color: var(--home-secondary-text-color);
                    font-weight: 500;
                    font-size: 12px;
                }
            }
            &.hero-animation .hero-inner .hero-box:before {
                height: 100%;
                opacity: 1;
            }
            .hero-inner .hero-box:before {
                content: "";
                background: var(--home-herobox-bg);
                border: 1px solid var(--home-border-color);
                box-shadow: 0 50px 100px var(--home-herobox-shadow);
                border-radius: 9px;
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 0%;
                opacity: 0;
                transform: translate(-50%, -50%);
                transition:
                    height 1s 1.4s,
                    opacity 1s 1.4s,
                    border-color 0.3s;
            }
            .hero-inner .hero-box:hover:before {
                border-color: var(--home-highlight-color);
            }
        }
        @media screen and (max-width: 991px) {
            .landing-hero {
                padding: 0 2rem;
            }
        }
        .landing-hero.hero-animation .hero-inner .hero-border-top {
            height: 70%;
            opacity: 1;
            border-color: var(--home-border-color);
        }
        .landing-hero .hero-inner .hero-border-top {
            opacity: 0;
            border: 1px solid transparent;
            width: 380px;
            height: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transition: height 1.5s, opacity 1.5s;
            transition-delay: .6s;
            border-radius: 9px;
            transform: translate(-50%, -50%);
        }
        .landing-hero.hero-animation .hero-inner .hero-border-left, .landing-hero.hero-animation .hero-inner .hero-border-right {
            opacity: 1;
            width: 19%;
            transform: translateY(-50%);
        }
        .landing-hero .hero-inner .hero-border-left {
            border: 1px solid var(--home-border-color);
            border-right: transparent;
            width: 0%;
            border-radius: 9px 0 0 9px;
            height: 35%;
            position: absolute;
            top: 50%;
            left: -3%;
            z-index: -1;
            opacity: 0;
            transition: width 1s, opacity 1s, transform 1s;
            transition-delay: 1s;
            transform: translate(108px, -50%);
        }
        .landing-hero .hero-inner .hero-border-right {
            border: 1px solid var(--home-border-color);
            border-left: transparent;
            width: 0%;
            border-radius: 0 9px 9px 0;
            height: 35%;
            position: absolute;
            top: 50%;
            right: -3%;
            z-index: -1;
            opacity: 0;
            transition: width 1s, opacity 1s, transform 1s;
            transition-delay: 1s;
            transform: translate(-108px, -50%);
        }
    }
}
.landing .linkbox.active {
    background: var(--home-highlight-color);
    color: var(--home-highlight-fore-color);
}
.landing .linkbox {
    transition: background-color .3s;
    display: inline-flex;
    align-items: center;
    color: var(--home-linkbox-text-color);
    padding: .5rem 1rem;
    border: var(--home-linkbox-border);
    background-color: var(--home-linkbox-bg);
    border-radius: 10px;
    cursor: pointer;
}
.landing .box {
    border: 1px solid var(--home-border-color);
    border-radius: 10px;
    background-color: var(--home-box-bg);
}
.landing-getstarted .download-icon {
    color: var(--home-highlight-color);
}
.landing-getstarted .download-box span {
    color: var(--home-primary-text-color);
}
.landing-hero .hero-bg {
    transition-delay: 1.4s;
}
.landing-hero.hero-animation .hero-bg .hero-strip-top {
    opacity: 1;
    height: 100%;
}
.landing-hero .hero-bg .hero-strip-top {
    transition: 1.6s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 114px;
    height: 0%;
    opacity: 0;
    background: var(--home-herobox-strip-top-bg);
}
.landing-hero.hero-animation .hero-bg .hero-strip-left {
    width: 100%;
    opacity: 1;
}
.landing-hero .hero-bg .hero-strip-left {
    transition: 1.6s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 114px;
    opacity: 0;
    background: var(--home-herobox-strip-bottom-bg);
}