<div class="layout-topbar" [ngClass]="{'landing-header-sticky': isHeaderSticky}">
  <div class="layout-topbar-inner w-full px-1 mx-0 lg:px-8 lg:mx-8 md:px-8 md:mx-3 sm:mx-4 sm:mx-0 ">
    <button (click)="toggleSidebar()" type="button" aria-haspopup="" aria-label="Menu" class="p-link menu-button">
      <i class="pi pi-bars"></i>
    </button>
    <ul class="flex list-none m-0 p-0 gap-2 align-items-center">
      <li><a href="https://github.com/primefaces/primeng" target="_blank" rel="noopener noreferrer" class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary"><i class="pi pi-github text-700"></i></a></li>
      <li><a href="https://discord.gg/gzKFYnpmCY" target="_blank" rel="noopener noreferrer" class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary"><i class="pi pi-discord text-700"></i></a></li>
      <li><a href="https://github.com/orgs/primefaces/discussions" target="_blank" rel="noopener noreferrer" class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary"><i class="pi pi-comments text-700"></i></a></li>
      <li><button type="button" class="p-button flex border-1 w-2rem h-2rem p-0 align-items-center justify-content-center transition-all transition-duration-300 min-w-0" (click)="sidebarVisible2 = true"><i class="pi pi-palette"></i></button></li>
      <li class="relative">
        <div class="card flex justify-content-center">
          <p-dropdown [options]="cities" optionLabel="name" placeholder="Select a City"></p-dropdown>
        </div>
      </li>
    </ul>
  </div>
</div>
<p-sidebar [(visible)]="sidebarVisible2" position="right">
  <h3>Right Sidebar</h3>
</p-sidebar>
