.layout-topbar {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 1100;
  transition: background-color 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .layout-topbar {
    left: 0;
    width: 100%;
  }
}

.layout-topbar .layout-topbar-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.layout-topbar .menu-button {
  display: none;
  color: var(--text-color);
  width: 3rem;
  height: 3rem;
  background-color: var(--surface-card);
  border: 1px solid var(--surface-border);
  align-items: center;
  justify-content: center;
  margin-right: auto;
  transition: border-color 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .layout-topbar .menu-button {
    display: flex;
  }
}

.layout-topbar .menu-button i {
  font-size: 1.5rem;
}

.layout-topbar.layout-topbar-sticky {
  background-color: #ffffffb3;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

// .p-dropdown {
//     height: 2rem !important;
// }

// .p-dropdown-label {
//     padding: 0 0.75em !important;
//     line-height: 2em !important;
// }
