<div class="card flex justify-content-center layout-sidebar">
    <p-sidebar id="sidebar" [(visible)]="sidebarVisible" [modal]="sidebarModal" [dismissible]="sidebarDismissible"
        [closeOnEscape]="false" [showCloseIcon]="false" [style]="{width:'250px'}">
        <ng-template pTemplate="header">Header Content</ng-template>
        <ng-template pTemplate="content">
            <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
        </ng-template>
        <ng-template pTemplate="footer">Footer Content</ng-template>
    </p-sidebar>
</div>